<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <title>tiny web example</title>
</head>
<body>
  <%= yield %>
  <script src="js/bootstrap.min.js"></script>
</body>
</html>
